<!-- div.chatbox>(header>b+span+a>span)+div.info-panel+div.messages>div.message>div+span -->
<div class="chatbox">
	<header>
		<b>Multiple user chat</b>
		<span>{{username}}</span>
		<a href="" ng-click="logoutHandler()">Logout</a>
	</header>
	<div class="online-users">
		Users online: {{users | userslist}} ({{usersCount}})
	</div>
	<div class="messages">
		<div 
			ng-repeat="msg in messages track by msg.id" 
			class="message
				{{msg.type}} {{msg.isMe?'user':'other'}}
			">
			<div>{{msg.content}}</div>
			<span ng-show="msg.type == 'content' && !msg.isMe">
				{{msg.username}} 
				{{msg.recepient == 'all' ? '(to all)' : '(only to you)' }}
			</span>
		</div>
	</div>
	<!-- form.input-box>input+button+div.recepients>label+input -->
	<form ng-submit="submitHandler()" class="input-box">
		
		<input ng-model="content" type="text" placeholder="Message text" />
		<button type="submit">Send</button>
		
		<div class="recepients">
			
			<div>
				<input id="all" type="radio" name="rcp" value="all" checked="checked" />
				<label for="all">For all users</label>
			</div>
			
			<div ng-repeat="recepient in recepients track by recepient.userId">
				<div ng-show="recepient.userId != userId">
					<input id="{{recepient.userId}}" type="radio" name="rcp" value="{{recepient.userId}}" />
					<label for="{{recepient.userId}}">{{recepient.username}}</label>
				</div>
			</div>
			
		</div>
	</form>
</div>